﻿@{
    ViewBag.Title = "Acme Publishing Delivery Scheduler";
}

<div ng-controller="IndexController">
    <div class="well">
        <h2>Delivery Scheduler</h2>
        <p>Set the day of the month the jobs need to be sent to the print distribution company.</p>
    </div>
    <form role="form" name="schedulerForm">
        <div class="form-group">
            <label for="runDayOfMonth">Date of the month to run job:</label>
            <input type="number" class="form-control" id="runDayOfMonth" ng-model="dayOfMonth" placeholder="Enter Day of Month" required>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled='schedulerForm.$invalid' ng-click="submit()">Submit</button>
    </form>

    <br/>
    <div class="well">
        <p>Send messages immediately for testing.</p>
    </div>
    <button type="button" class="btn btn-primary" ng-click="now()">Send immediately</button>
</div>